*{
margin: 0 auto;
}

.superheroes-container{
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.superhero__box{
  width: 300px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.7);
}

.superhero__box > img {
  margin-left: auto;
  margin-right: auto;
}

.superhero__img{
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

.superhero__name, 
.superhero__universe, 
.superhero__alterego, 
.superhero__occupation, 
.superhero__friends, 
.superhero__superpowers{
  margin: 0;
  margin-left: 20px;
  margin-right: 10px;
}

.superhero__info{
  margin-left: 20px;
  margin-right: 10px;
}

.superhero__name{
  margin-top: 10px;
}

#root {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали по центру */
  align-items: center; /* Выравнивание по вертикали по центру */
  min-height: 100vh; /* Минимальная высота равная высоте окна браузера */
}